/* Shared Files */
*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Merriweather', serif;
font-family: 'Open Sans', sans-serif;
}


/* Nav Starts Here */
nav{
    width: 1600px;
    height: 700px;
    border-radius: 16px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%)  , url('../resources/Banner\ Image.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin:0 auto;
    margin-top: 50px;
}
.nav-title{
    padding:220px 450px 300px 450px;
}
.nav-paragraph{
    color: #FFF;
text-align: center;
font-size: 40px;
font-weight: 400;
font-family: Merriweather;
}
.nav-heading{
    color: #FFF;
text-align: center;
color: #FFF;
font-family: Merriweather;
font-size: 90px;
font-weight: 900;
}
/* Nav Ends Here */


/* Main Section */
.main-section{
    margin-top:140px;
}
.main-section .image{
    justify-content: center;
    align-items: center;
    margin:20px 0 100px 550px;
}
.main-heading{
    color: #F00;
    text-align: center;
    font-family: Inter;
font-size: 88px;
font-weight: 700;
margin-bottom: 48px;
}
.main-paragraph{
    color: #F00;
    text-align: center;
    font-family: Inter;
font-size: 24px;
font-weight: 500;
margin-bottom: 16px;
}
.main-new-heading{
    color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-weight: 700;
margin-bottom: 48px;
}


/* Welcome Section */
.welcome{
    width: 1600px;
    height: 750px;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: relative;
    margin:50px 100px 20px 150px;
    border-radius: 20px;
}
.welcome-heading{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
    width: 700px;

}
.welcome-paragraph{
    color: rgba(255, 255, 255, 0.80);
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
    width: 700px;
   margin-right: 20px;
   margin-top: 30px;
}
.btn{
    color:black;
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    margin-top: 50px;
    line-height: normal;
    text-transform: uppercase;
}
.welcome-title{
    padding:150px 300px 130px 200px; 
}
.welcome-banner{
    display: flex;
    padding-right: 170px;
    padding-top: 60px;
    justify-content: center;
    align-items: center;
}

/* Hotel Section Starts Here */
.hotel{
margin-top: 150px;
width: 1600px;
height: 450px;
margin-left: 150px;
margin-right: 200px;
background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
border-radius: 20px;
}
.hotel-heading{
    color: #070211;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px;
text-transform: capitalize;
}
.special{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px;
text-transform: capitalize;
}
.hotel-title{
padding:120px 400px 250px 700px;
}
.hotel-btn{
    display: inline-flex;
padding: 16px 32px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: #F00;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 700;
text-transform: uppercase;
margin-left: 120px;
margin-top: 40px;
border:none;
}


/* Offer Section */
.offer{
    borer:2px solid red;
    width: 1200px;
    height: 800px;
    background: #FFF;
    display: flex;
    padding-top: 200px;
    margin:30px 50px 0 0;
    justify-content: space-between;
}
.offer-banner{
    padding: 0 150px 100px 150px;
    max-width: 700px;
    justify-content: center;
    margin-top: 100px;
    align-items: center;
}
.offer-title{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
padding-left: 40px;
}
.offer-heading{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;
text-align: center;
width: 393px;
margin-top: 18px;
}
.offer-paragraph{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 25px;
font-weight: 400;
text-align: center;
margin-top: 25px;
}
.offer-img{
    margin:0 150px 0 100px;
    width: 463px;
height: 463px;
border-radius: 463px;
border: 15px solid #F00;
padding: 20px 20px 20px 20px;
}
.offer-description{
    margin: 100px 150px 0 150px;
}
.offer-new{
    color: #F00;
font-family: Inter;
font-size: 48px;
font-weight: 700;
}
.offer-dolor{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
margin-top: 18px;
margin-bottom: 40px;
}

/* Holiday Section */
.holiday{
    width: 1700px;
    height: 1200px;
    margin: 0 auto;
 }
 
.holiday-title{
    padding:0 0 0 550px;
}
.holiday-text{ 
    color: #070211;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 200px;
}
.holiday-head{
    color: #070211;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: normal;
margin-bottom: 20px;
}
.red{
    color: #F00;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
}
.holiday-para{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 25px;
font-weight: 500;
width: 1000px;
padding-right: 100px;
}
.holiday-new-section{
   position: relative;
}
.figma-1{
    position: absolute;
    margin-top: 300px;
    z-index: 1;
    margin-left: 200px;
}
.figma-2{
    position: absolute;
    margin-top: 350px ;
    margin-left: 1020px;
    z-index: 1;
}
.figma-3{
    position: absolute;
    margin-top: 270px;
    margin-left: 1170px;
}
.figma-4{
    position: absolute;
    margin-top: 700px;
    margin-left: 100px;
}

.gift{
    width:1600px;   
    height: 1200px;
    margin: 50px 400px 0 100px;
}

.gift-title{
    padding:50px 200px 0 0;
}
.gift-section{
   margin-right: 250px;
   padding:0 300px 0 150px;
}
.gift-msg{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-weight: 500;
margin-bottom: 18px;
}
.gift-head{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;
margin-top: 22px;
}
.gift-para{
    color: rgba(7, 2, 17, 0.60);
    width: 896px;
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px;
}
.gift-flowewr{
    margin:20px 300px 0 100px;
    display: flex;
    justify-content: space-evenly;
    gap:40px;
}
.gift .gift-img{
    width: 500px;
height: 450px;
   display: flex;
   padding:20px 600px 0 0px;
   gap:80px;
}
.gift .gift-img .march:hover{
    border:2px solid mediumblue;
}
.gift .bag .march:hover{
    border:2px solid mediumblue;
}
.gift .bag{
    width: 500px;
height: 450px;
   display: flex;
   padding:20px 600px 0 0px;
   gap:80px;
}
.letter{
width: 1600px;
height: 616px;
margin:150px auto 150px auto;
border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
}
.letter-banner{
    padding: 40px 100px 100px 200px;
align-items: center;
justify-content: center;
}
.letter-banner .rec{
    margin: 40px 500px 0 600px;
}
.letter-head{
    color: #070211;
text-align: center;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;
margin-top: 20px;
}
.letter-para{
    color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
width: 896px;
font-size: 20px;
font-weight: 400;
line-height: 32px; 
margin-top: 20px;
margin-left: 220px;
}
.letter-banner form{
margin:20px auto;
display: flex;
max-width: 800px;
    border-radius: 50px;
background: #FFF;
padding: 4px;
/* gap:10px; */
}
.letter-banner form input{
    color: rgba(7, 2, 17, 0.30);
    flex-grow: 1;
/* text-align: center; */
font-family: Inter;
font-size: 20px;
font-weight: 400;
border:none;
border-radius: 34px;
padding: 20px;
/* padding-right: 5px; */
}
.btn-rafi{
    width: 210px;
height: 72px;
border-radius: 0px 50px 50px 0px;
background: #F00;
border:none;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 600;
text-transform: capitalize;
}

/* Footer Section */
footer{
    /* border: 2px solid blueviolet; */
    margin-top: auto;
    background: #070211;
    border:none;
    border-radius: 10px;
}
.foot-section{
     display: flex;
    width: 1500px;
height: 500px; 
margin: 0 -80px 0 200px;
justify-content: space-between;
padding: 200px 100px 0 0;
}
.foot-para{
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px;
}
.foot-rights{
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-weight: 500;
margin-top: 300px;
}
.foot-image{
    margin-top: 180px;
    /* margin-left: 40px; */
    /* padding-left: 40px; */
    gap:40px;
    width: 64px;
height: 64px;
display: flex;
margin-right: 300px;
margin-left: 100px;
}
.foot-number{
    color: #FFF;
font-family: Inter;
font-size: 28px;
font-weight: 500;
padding-left: 20px;
margin-top: 3px;
gap:5px;
/* border:1px solid maroon; */
}
.icon{
    width: 22px;
height: 22px;
margin-right: 3px;
margin-top: 3px;

}
.foot-option{
    display: flex;
}
.subs{
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-weight: 500;
margin-top: 300px;
padding-left: 220px;

}
