/* Shared Files */
*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Merriweather', serif;
font-family: 'Open Sans', sans-serif;
}
/* Nav Starts Here */
nav{
   
    width: 1800px;
    height: 800px;
    border-radius: 16px;

    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('/resources/Banner\ Image.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin:0 auto;
    margin-top: 40px;
    /* padding:100px 100px 100px 100px; */
}
.nav-title{
    padding:300px 450px 300px 450px;
}
.nav-paragraph{
    color: #FFF;
text-align: center;
font-size: 40px;
font-weight: 400;
font-family: Merriweather;
}
.nav-heading{
    /* width: 632px; */
    color: #FFF;
text-align: center;
color: #FFF;
font-family: Merriweather;
font-size: 90px;
font-weight: 900;
/* margin-bottom: 10px; */
/* padding-left: 150px; */
/* padding:233px 344px 10px 344px; */
}
/* .nav-title p,h1{
    margin-bottom: 20px;
    margin-left: 20px;
}  */
/* Nav Ends Here */